* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif !important;
}
.HOVER{
    text-decoration: none;
}
.HOVER:hover {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-family: helvetica;
    font-size: 21px;
    transition: color 0.3s ease-in-out;
}

#wrapper{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: light;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline;
    margin-left: 30px;
}
ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-family: helvetica;
    font-size: 30px;
    width: 100%;
    height: 40px;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}
.navbar:hover {
    background-color: rgba(147, 22, 97, 0.995) !important;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
.nav-link{
    font-family: helvetica;
    font-size: 20px;
}
.nav-link:hover{
    color: #ff0 !important;
    text-decoration: none;
   
    transition: background-color 0.3s ease-in-out;
}
.navbar-toggler-icon {
    width: 30px;
    padding: 5px;
    background-color: #fff;
    color: #000;
}
#K{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.footer{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: helvetica;
    font-size: 20px;
    color: #fff;
    margin-top: 2rem;
    padding: 10px;
    line-height: 19px;
}
.footer:hover{
    color: #ff0;
    cursor: pointer;
    font-size: 20.20px;
    transition: color 0.3s ease-in-out;
}
