.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(166, 193, 255, 0.903), #fcfcfc);
}
.container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: rgba(10, 13, 105, 0.973);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
}
.container a {
    text-decoration: none;
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid transparent;
}
.container:hover, a:hover {
    color: yellow;
    background-color: #1026b0f8;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    font-size: 24.5px;
    border-radius: 20px;
}
.a{
    text-decoration: none;
    font-size: 38px;
    animation: 0.3s ease-in-out;
 
}
#HEADER {
     font-family: "Acme", sans-serif;
    color: #b613b4fa;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}
#containing {
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    color: #fff;
    font-size: 40px;
    border: none;
    margin-bottom: 9px;
    padding: 10px;
    border-radius: 30px;;
}
.Paragraph {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    color: #fff;
    font-size: 60px;
    border: none;
    margin-bottom: 15px;
}
.Paragraph:hover {
    background-color: none;
    color: rgb(55, 255, 55);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    font-size: 45px;
    border-radius: 15px;
    text-align: center;
}
#wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#2a98ff,#195adcfe, rgba(19, 45, 148, 0.967)); 
    border-radius: 50%;
    margin-top: 4.6rem;
    padding: 2rem;
}
.Test{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: lab(98.11% -0.41 -2.86 / 0.88);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 28, 113);
    text-align: left;
    line-height: 28px;
    padding: 20px;
    margin-top: 10rem;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
}
.PARA{
  font-family: "Libertinus Serif", serif;
  font-style: normal;
  font-size: 24.55px;
  line-height: 30px;
  width: 100%;
  height: auto;
  color: rgb(21, 25, 153)
}
.PARA:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #646464;
    transition: color 0.3s ease-in-out;
    font-size: 20.04px;
    cursor: pointer;
}
#MTB {
    display: block;
    width: auto;
    height: 45px;
    background-color: #e5efff;
    color: #32429cfa;
    border: #667dfffa solid 1px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 3px 3px rgba(29, 29, 29, 0.1);
}
#MTB:hover {
    background-color: rgba(33, 73, 217, 0.96);
    color: #fff;
    transition: background-color 0.3s ease;
}
.Date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 100%;
    height: 45.5px;;
    margin-top: 14.65px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration-line: none;
    padding: 10px;
    background-color: red;
} 
.Date:hover {
    color: #000;
    transition: background-color 0.3s ease-in-out;
    background-color: yellow;
}
.containNer{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: light;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: #1026b0f8;
    border-bottom: 0.089rem solid #fff;
}
#btnContainer {
    width: auto;
    height: auto;;
    text-align: center;
    padding: 20px;
    background-color: #cdeaffd0;
    border: 1px solid transparent;
    border-radius: 4rem;
    border-top: 2px solid #1928d1;
    border-bottom: 2px solid #1928d1;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}
#btnContainer:hover{
    background-color: #fcfcfcde;
    border: 2px solid #1928d1;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
h5 {
    font-family: "Bitcount Prop Single", system-ui;
    color: rgba(20, 186, 25, 0.968);
    text-align: center;
    font-size: 1.5rem;
}
#countLabel {
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    color: #a711a4fa;
    font-family: helvetica;
    cursor: pointer;
}
.buttons {
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #446fe7fc;
    color: yellow;
    border-radius: 15px;
    cursor: pointer;
    margin: 1px;
    padding: 8px 9px;
    border: #fff 0.1rem solid;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 1px 4px 3px #b4b4b4e6;
}
.buttons:hover{
    background-color: #ae12acfa;
    color: gold;
    font-size: 17.5px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 1px 4px 3px #405ef5eb;
    border: none;
}
.Top a{
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: line;
    font-family: "arial black";
    font-size: 20px;
    font-weight: bold;
    background-color: #1040cffc;
    color: #fff;
    padding: 10px 12px;
}
.Top a:hover{
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: line;
    font-family: "arial black";
    font-size: 21px;
    font-weight: bold;
    background-color: transparent;
    color: #000;
    padding: 10px 12px;
    transition: background-color 0.3s ease-in-out;
}
.footer{
    width: 100%;
    height: 96px;
    background-color: #9b1299;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    font-size: 17px;
    text-align: center;
    padding-top: 13px;
    line-height: 11.5px;
    bottom: 0;
}
.footer:hover {
    background-color: #a813a5;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    font-size: 17.25px;
}

